@use "@/core/ui/utils/files/typography" as t;

.form-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-label {
  display: flex;
}

.form-label-icon {
  margin-right: 4px;
}

.form-label-text {
  @include t.body-strong
}

.required-icon {
  margin-right: 4px;
}

.form-label {
  @include t.body
}

.form-select,
.form-input {
  width: 576px;
  max-width: 100%;
}

.form-textarea {
  width: 942px;
  max-width: 100%;
}

.button-group {
  display: flex;
  gap: 12px;
  margin-top: 32px;
}

.form-error {
  color: red;

  @include t.body-small
}