.wrapper {
  position: relative;
}

.back {
  position: absolute;
  top: 32px;
  left: -44px;

  color: #1f1f1f;
  font-size: 16px;
}

.page {
  padding: 32px;

  background-color: #ffffff;
  border-radius: 16px;
}
