@mixin h2-medium {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

@mixin h3-medium {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}

@mixin h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin h5-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

@mixin body {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@mixin body-small {
  font-weight: 100;
  font-size: 12px;
  line-height: 12px;
}

@mixin body-small-strong {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

@mixin body-strong {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
